.fechrout{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.fechrout h3{
    text-shadow: 1px 1px #333235;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}